.content {
    padding: 40px 40px 10px; 
    height: 100%;
    width: 100%;
    left: 0;
    top: 30%;
}

h2 {
    font-size: 32px;
}

h2:hover {
    text-decoration: underline;
    opacity: 0.6;
    cursor: pointer;
}

ul {
    width: 60%;
}  

li {
    padding-bottom: 10px;
}

#keyboard {
    position: absolute;
    top: 500px;
    right: 70px;
}