.content {
    padding: 40px 40px 10px; 
    height: 100%;
    width: 100%;
    left: 0;
}

h2 {
    font-size: 32px;
}

h2:hover {
    text-decoration: underline;
    opacity: 0.6;
    cursor: pointer;
}

li {
    padding-bottom: 5px;
}

.authors {
    padding: 20px;
    opacity: 0.9;
    border-top: 0.5px solid black;
}

.authors img {
    height: 20px;
    width: 20px;
}
