.left-toolbar {
    position: fixed; 
    display: flex;
    left: 0; 
    z-index: 1;
    background-color: lightgray;
    height: 100%;
    width: 30%;
    border-right: 1px solid black;
    padding: 20px 10px 20px;
    line-height: 2;
    flex-direction: column;
    overflow: auto;
}

.left-toolbar-night-mode {
  background-color: rgb(3, 3, 54);
  color: white;
  border-right: 1px solid white;
}

.left-toolbar p {
    font-size: 16px;
    font-weight: bold
}

.left-toolbar span:hover {
    color:maroon;
    cursor: pointer;
}

.opacity {
    opacity: 0.5;
}

#building {
    height: 100px;
    width: 120px;
}

.left-arrow-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-arrow-container:hover {
    background-color: rgb(182, 179, 179);
    opacity: 0.8;
}

.arrow {
    height: 70px;
    width: 45px;
}

.right-arrow-container {
    position: fixed;
    left: 0;
    top: 45%;
    height: 80px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow-container:hover {
    background-color: rgb(182, 179, 179);
    opacity: 0.8;
}
