.top {
    width: 100%;
    height: 200px;
    background-image:  url(../img/top/top.jpeg);
    background-repeat: no-repeat;
    background-position: center;
  }

  #changeMode {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
  }
  
  #changeMode:hover {
    opacity: 0.8;
  }
  
  .button-day-mode {
    background-color: lightblue;
    border: 0.5px solid black; 
  }

  .button-night-mode {
    background-color: darkblue;
    border: 0.5px solid white;
  }

  #sun { 
    width: 40px;
    height: 40px;
    padding: 5px;
  }