.top {
    position: sticky;
    width: 100%;
    height: 200px;
    background-image:  url(../img/top/top.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
  }

  #changeMode {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #changeMode:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .button-day-mode {
    background-color: lightblue;
    border: 0.5px solid black; 
  }

  .button-night-mode {
    background-color: darkblue;
    border: 0.5px solid white;
  }
  
  #changeMode img {
    position: relative; 
    width: 30px;
    height: 30px;
  }
  